img {
    width: 200px;
    height: 100%;
    border-radius: 5px;
  }

  
.album {
    display: flex;
    border: 1px solid rgb(215, 205, 205);
    width: 550px;
    box-shadow: 7px 7px 7px gray;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .album__info {
    margin-top: -38px;
    margin-left: 30px;
  }

  .album__artist {
    text-align: left;
    padding-top: 5px;
  }
  
  .album__artist--single {
    margin-top: -40px;
    padding-left: 3px;
    color: rgb(152, 150, 150);
  }

  .album__titulo {
    color: rgb(152, 150, 150);
    text-align: left;
  }
  
  .album__titulo--age {
    margin-top: -25px;
  }

  .album__genero {
    display: flex;
    margin-bottom: -50px;
  }
  
  .album__genero--name {
    background-color: rgb(239, 170, 193);
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 70px;
  }

  .album__genero--heart {
    margin-top: -32px;
    margin-left: 150px;
  }