#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
.album {
  display: flex;
  border: 1px solid rgb(215, 205, 205);
  width: 550px;
  box-shadow: 7px 7px 7px gray;
  border-radius: 5px;
}

.album__info {
  margin-top: -38px;
  margin-left: 30px;
} */
